*{
    background-color: rgb(13, 34, 73);
    color: rgb(206, 122, 13);
}
#inputContainer{
    display: flex;
    gap: 30px;
    justify-content: center;
}
input, button{
    font-size: 30px;
    border: 2px solid;
    border-radius: 30px;
    text-align: center;
    padding: 15px;
}